<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" size="large" [routerLink]="['/login']"></ion-icon>
    </ion-buttons>
    <ion-title class="text-center-title">RESETAR SENHA</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <ion-item lines="full">
      <p>Digite seu email para resetar sua senha:</p>
    </ion-item>
    <form>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" #email required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" (click)="authService.PasswordRecover(email.value)" expand="block">
            Resetar senha
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-content>
